.Quntity{
    display: flex;
}
.ico{
    background-color: #7b1fa2;
    color: aliceblue;

}
.Quntity p{

    text-align: center;
    width: 60%
} 
.ico:hover{
    background-color: aliceblue;
    color: #7b1fa2;
    pointer-events: none;

}
.c{
    cursor:pointer

}